/* CSS declarations go here */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: deepskyblue;
}

main {
    flex: 1 0 auto;
}

.challenge-friend {
    cursor: pointer;
}